<style>
  .message-content {
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div id="message-content">
  <p>Hello, {{name}}</p>
  <p>It seens that a change of password was requested for your account.</p>
  <p>If it was you, click on bellow link to reset your passwod:</p>
  <p>
    <a href="{{link}}">Reset password</a>
  </p>
  <p>If it wasn't you, just ignore this email.</p>
  <br />
  <p>
    Thanks!<br />
    <strong>Team GoBarber</strong>
  </p>
</div>